data sourse: https://data.gov.ua/dataset/06779371-308f-42d7-895e-5a39833375f0/resource/01323740-88df-46c2-b06e-fbb58c89fe17

In [34]:
# see first 3 lines of a file without time-memory consuming operations
raw = open('../Downloads/Транспорт.csv')
next(raw), next(raw), next(raw)
# remember: open(..) returns iterator
# I use this to determine separator

('person;reg_addr_koatuu;oper_code;oper_name;d_reg;dep_code;dep;brand;model;make_year;color;kind;body;purpose;fuel;capacity;own_weight;total_weight;n_reg_new\n',
 'P;1210436900;440;"440 - ПЕРЕРЕЄСТРАЦIЯ ПРИ ВТРАТІ СВIДОЦТВА ПРО РЕЄСТРАЦIЮ";2018-01-01;1244;"ТСЦ 1244";"ВАЗ  2101";2101;1980;БІЛИЙ;ЛЕГКОВИЙ;СЕДАН-B;ЗАГАЛЬНИЙ;БЕНЗИН;1198;955;1355;6485ДПП\n',
 'P;3522855100;540;"540 - ЗНЯТТЯ З ОБЛIКУ У ЗВ`ЯЗКУ З ВИБРАКОВКОЮ";2018-01-03;3541;"ТСЦ 3541";"ЗАЗ  110557";110557;2007;БІЛИЙ;ЛЕГКОВИЙ;ПІКАП-В;ЗАГАЛЬНИЙ;БЕНЗИН;1197;831;1190;NULL\n')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.__version__

In [15]:
tr = pd.read_csv('../Downloads/Транспорт.csv', error_bad_lines=False, sep=';')
tr.head()

,person,reg_addr_koatuu,oper_code,oper_name,d_reg,dep_code,dep,brand,model,make_year,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new
0,P,1.210437e+09,440,440 - ПЕРЕРЕЄСТРАЦIЯ ПРИ ВТРАТІ СВIДОЦТВА ПРО ...,2018-01-01,1244,ТСЦ 1244,ВАЗ 2101,2101,1980,БІЛИЙ,ЛЕГКОВИЙ,СЕДАН-B,ЗАГАЛЬНИЙ,БЕНЗИН,1198.0,955.0,1355.0,6485ДПП
1,P,3.522855e+09,540,540 - ЗНЯТТЯ З ОБЛIКУ У ЗВ`ЯЗКУ З ВИБРАКОВКОЮ,2018-01-03,3541,ТСЦ 3541,ЗАЗ 110557,110557,2007,БІЛИЙ,ЛЕГКОВИЙ,ПІКАП-В,ЗАГАЛЬНИЙ,БЕНЗИН,1197.0,831.0,1190.0,NaN
2,P,7.120982e+09,315,315 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГО...,2018-01-03,7142,ТСЦ 7142,MAZDA 3,3,2006,СІРИЙ,ЛЕГКОВИЙ,СЕДАН-B,ЗАГАЛЬНИЙ,БЕНЗИН,1598.0,1200.0,1830.0,СА9073СА
3,P,2.124487e+09,315,315 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГО...,2018-01-03,2142,ТСЦ 2142,MERCEDES-BENZ E 220 CDI,E 220 CDI,2011,ЧОРНИЙ,ЛЕГКОВИЙ,СЕДАН-B,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,2143.0,1615.0,2090.0,АО7474ВО
4,P,7.123410e+09,315,315 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГО...,2018-01-03,7142,ТСЦ 7142,БОГДАН 211140,211140,2014,ЧОРНИЙ,ЛЕГКОВИЙ,УНІВЕРСАЛ-B,ЗАГАЛЬНИЙ,БЕНЗИН АБО ГАЗ,1596.0,1110.0,1580.0,СА1806СВ

In [29]:
print( "num of fields: {1}, num of records: {0}".format(*tr.shape),"\nnum of cells:", tr.size,)

num of fields: 19, num of records: 1022724
num of cells: 19431756

In [31]:
import numpy as np

In [37]:
colors = np.array(tr['color'].values)

In [38]:
colors[:10] # see first 10 colors

array(['БІЛИЙ', 'БІЛИЙ', 'СІРИЙ', 'ЧОРНИЙ', 'ЧОРНИЙ', 'СІРИЙ', 'ЧЕРВОНИЙ',
       'БІЛИЙ', 'СІРИЙ', 'БІЛИЙ'], dtype=object)

In [39]:
np.setdiff1d(colors,[]) # unique elements = unique colors

array(['БІЛИЙ', 'БЕЖЕВИЙ', 'ЖОВТИЙ', 'ЗЕЛЕНИЙ', 'КОРИЧНЕВИЙ',
       'НЕВИЗНАЧЕНИЙ', 'ОРАНЖЕВИЙ', 'СІРИЙ', 'СИНІЙ', 'ФІОЛЕТОВИЙ',
       'ЧЕРВОНИЙ', 'ЧОРНИЙ'], dtype=object)

In [43]:
years = tr['make_year'].values

In [44]:
2018 - np.min(years) # the oldest car is yo

118

In [51]:
tr.dtypes

person              object
reg_addr_koatuu    float64
oper_code            int64
oper_name           object
d_reg               object
dep_code             int64
dep                 object
brand               object
model               object
make_year            int64
color               object
kind                object
body                object
purpose             object
fuel                object
capacity           float64
own_weight         float64
total_weight       float64
n_reg_new           object
dtype: object

In [52]:
tr.isnull().sum()

person                 0
reg_addr_koatuu        1
oper_code              0
oper_name              0
d_reg                  0
dep_code               0
dep                    0
brand                  0
model                  0
make_year              0
color                  0
kind                   0
body                   0
purpose                0
fuel               60659
capacity           65911
own_weight            43
total_weight           4
n_reg_new           9240
dtype: int64

In [54]:
# count new beige cars
len(tr[tr.color == 'БЕЖЕВИЙ']),

35900

In [64]:
ops = tr['oper_name']
unique_ops = np.setdiff1d(ops,[]) # unique operation names
ops_count = []
for op in unique_ops:
    ops_count.append([op, len(ops[ops == op])])

In [65]:
ops_count

[['10 - РЕЄСТРАЦIЯ ТЗ ПО АКТУ ПРИЙМАННЯ ПЕРЕДАЧІ(ДОД.2)', 2],
 ['100 - ПЕРВИННА РЕЄСТРАЦIЯ Б/В ТЗ ПРИДБАНОГО В ТОРГІВЕЛЬНІЙ ОРГАНІЗАЦІЇ, ЯКИЙ ВВЕЗЕНО З-ЗА КОРДОНУ',
  979],
 ['100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГІВЕЛЬНІЙ ОРГАНІЗАЦІЇ, УСТАНОВИ',
  4],
 ['100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГІВЕЛЬНІЙ ОРГАНІЗАЦІЇ, ЯКИЙ ВВЕЗЕНО З-ЗА КОРДОНУ',
  92485],
 ['101 - РЕЄСТРАЦIЯ ТЗ ЗА ДОГОВОРОМ ЛІЗИНГУ', 3871],
 ['105 - ПЕРВИННА РЕЄСТРАЦІЯ НОВОГО ТЗ ПРИДБАНОГО В ТОРГІВЕЛЬНІЙ ОРГАНІЗАЦІЇ, ЯКИЙ ВВЕЗЕНО З-ЗА КОРДОНУ',
  985],
 ['11 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ДЛЯ ІНШИХ ОРГ. ДЕРЖ.ВЛАСНОСТІ', 2],
 ['110 - РЕЄСТРАЦIЯ ТЗ ОТРИМАНОГО ЧЕРЕЗ ВIДДIЛ СОЦ. ЗАХИСТУ', 125],
 ['13 -  ВИПРАВЛЕННЯ VIN-КОДУ (ПІСЛЯ ВИПРАВЛЕННЯ КАРТКУ ВИДАЛИТИ)', 4827],
 ['130 - РЕЄСТРАЦIЯ ТЗ У ЗВ`ЯЗКУ З ПРИЇЗДОМ НА ПМЖ ', 140],
 ["131 - РЕЄСТРАЦІЯ ТЗ У ЗВ'ЯЗКУ З ПРИЇЗДОМ НА ПМП В МЕЖАХ УКРАЇНИ", 2],
 ['140 - ВТОРИННА РЕЄСТРАЦIЯ ТЗ У ЗВ`ЯЗКУ З НЕПРОДАЖЕМ', 714],
 ['141 - РЕЄСТРАЦIЯ ТЗ ПIСЛЯ ВIДМIНИ ЇЇ АНУЛЮВАННЯ', 22],
 ['141 - РЕЄСТРАЦIЯ ТЗ ПIСЛЯ ВIДМIНИ ЇЇ СКАСУВАННЯ', 5],
 ['141 - РЕЄСТРАЦIЯ ТЗ ПIСЛЯ СКАСУВАННЯ РЕЄСТРАЦІЇ', 14],
 ['150 - РЕЄСТРАЦIЯ ТЗ САМОСТIЙНО СКЛАДЕНОГО', 2],
 ["151 - РЕЄСТРАЦІЯ ТЗ У ЗВ'ЯЗКУ ЗІ ЗМІНОЮ МІСЦЯ СТОЯНКИ", 3],
 ['16 - ВНЕСЕННЯ КАРТКИ ТЗ (ПІСЛЯ ВИВЕЗЕННЯ ЗА КОРДОН ТА ПОВТОРНОГО ВВЕЗЕННЯ)',
  1],
 ['17 - ПЕРВИННА РЕЄСТРАЦІЯ ТЗ (МОПЕДІВ) ЗА ВИСНОВКАМИ', 9873],
 ['172 - ПЕРВИННА РЕЄСТРАЦІЯ ЛЕГКОВИХ ТЗ, ЯКІ ВВЕЗЕНО З-ЗА КОРДОНУ', 66332],
 ['210 -  ВИДАЧА ТИМЧАСОВОГО ТАЛОНУ ЗА ЗАЯВОЮ ВЛАСНИКА ДЛЯ РЕЄСТРАЦІЇ У ТОМУ ЧИСЛІ ПРИ УТОЧНЕННІ РЕЄСТРАЦІЙНИХ ДАНИХ ТЗ',
  12],
 ["221 - РЕЄСТРАЦІЮ ТЗ,ВВЕЗЕНОГО ПІД ЗОБОВ'ЯЗАННЯ ПРО ЗВОРОТНЕ ВИВЕЗЕННЯ",
  609],
 ['230 -  ВИДАЧА СВ. ПРО РЕЄСТР ДЛЯ ПОЇЗДКИ ЗА КОРДОН', 9261],
 ['230 -  ВИДАЧА СВ. ПРО РЕЄСТР ДЛЯ ПОЇЗДКИ ЗА КОРДОН ПО ДОРУЧ', 1],
 ['250 -  ВИДАЧА ТИМЧАСОВОГО РЕЄСТР ТАЛОНУ ПО ДОРУЧЕННЮ', 11416],
 ['252 -  ВИДАЧА ТИМЧАС. РЕЄСТР. ТАЛОНУ НА ПРАВО КЕР ЗА ЗАЯВОЮ ВЛ', 31],
 ['252 -  ВИДАЧА ТИМЧАС. РЕЄСТР. ТАЛОНУ НА ПРАВО КЕР ЗА ЗАЯВОЮ ВЛ.ЧИ ІНШОГО ДОКУМ.ПРАВОКОРИСТУВАННЯ ',
  4356],
 ['255 -  АНУЛЮВАННЯ ВИДАЧI ТИМЧАС. РЕЄСТРАЦIЙНОГО ТАЛОНУ ПО ДОРУЧ', 1832],
 ['256 -  АНУЛЮВАННЯ ВИДАЧI ТИМЧАС. РЕЕСТР. ТАЛОНУ ПО ЗАЯВI ВЛ', 516],
 ['260 - ВИДАЧА ТИМЧ. РЕЄСТР. ТАЛОНУ ПРИ ВИЯВЛЕННI ТЗ ВИКР ЗА КОРД', 7],
 ['270 - ВИДАЧА ТИМЧАС. ТАЛ. ДЛЯ МОПЕДІВ БЕЗ ОБМЕЖ СТРОКУ РЕЄС.', 3],
 ['30 - ПЕРВИННА РЕЄСТРАЦІЯ ТЗ ДЛЯ ІНДИВ. ВЛАСНИКА', 41],
 ['300 - ПЕРЕРЕЄСТРАЦIЯ НА НОВОГО ВЛАСНИКА ЗА СВIД. НА СПIЛЬНЕ МАЙНО', 51],
 ['301 - ПЕРЕРЕЄСТРАЦІЯ ЗА ДОГОВОРОМ ПОДІЛУ МАЙНА', 50],
 ['308 - ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ. КУПIВЛI-ПРОДАЖУ (СГ)',
  145530],
 ['309 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА ЗА ДОВІДКОЮ-РАХУНКОМ', 78],
 ['310 - ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ. КУП.-ПРОД.ТА ІНШ.(ОФОРМ.НОТАРІАЛЬНО )',
  1629],
 ['310 - ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ. КУПIВЛI-ПРОДАЖУ', 2],
 ['311 - ПЕРЕРЕЄСТРАЦIЯ НА НОВОГО ВЛАСНИКА ЗА ДОГОВОРОМ МIНИ', 22],
 ['312 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА, ОТРИМАНОГО ЧЕРЕЗ ВІДДІЛ СОЦ.ЗАХИСТУ',
  86],
 ['315 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГОВОРУ УКЛАДЕНОМУ В ТСЦ',
  261111],
 ['317 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГОВОРУ ДАРУВАННЯ УКЛАДЕНОМУ В ТСЦ',
  336],
 ['319 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА ЗА АКТОМ ПРИЙОМУ-ПЕРЕДАЧІ',
  6501],
 ['320 - ПЕРЕРЕЄСТРАЦIЯ НА НОВ. ВЛАС. ЗА ДОГ. ДАРУВАННЯ', 750],
 ['320 - ПЕРЕРЕЄСТРАЦIЯ НА НОВ. ВЛАС. ЗА ДОГ. ДАРУВАННЯ (ОФОРМЛЕНО НОТАРІАЛЬНО)',
  8],
 ['321 - ПЕРЕРЕЄСТРАЦIЯ ТЗ НА НОВ. ВЛАС. ПО УСПАДКУВАННЮ ЗА ЗАПОВIТОМ', 117],
 ['321 - ПЕРЕРЕЄСТРАЦIЯ ТЗ НА НОВ. ВЛАС. ПО УСПАДКУВАННЮ ЗА ЗАПОВIТОМ ЧИ УСПАДКОВАНОМУ ДОГОВОРУ',
  1108],
 ['322 - ПЕРЕРЕЄСТРАЦIЯ ТЗ НА НОВ. ВЛАС. ПО УСПАДКУВАННЮ ЗА ЗАКОНОМ', 13694],
 ['322 - ПЕРЕРЕЄСТРАЦIЯ ТЗ НА НОВ. ВЛАС. ПО УСПАДКУВАННЮ ЗА ЗАКОНОМ ЧИ ЗНЯТТЯМ З ОБЛІКУ В ОРГАНАХ СОЦЗАХИСТУ',
  190],
 ['324 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА (СТРАХОВИКА), ПІСЛЯ ВИПЛАТИ СТРАХУВАЛЬНИКАМ ПОВНОЇ СТРАХОВОЇ СУМИ.',
  7],
 ['330 - ПЕРЕРЕЄСТРАЦIЯ НА НОВОГО ВЛАСНИКА ЗА РIШЕННЯМ СУДУ', 556],
 ['331 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА ЗА АКТОМ ПРОВЕДЕНОГО АУКЦІОНУ',
  1408],
 ['332 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА ЗА ПОСТАНОВОЮ ПРО ПЕРЕДАЧУ МАЙНА',
  34],
 ['340 - ПЕРЕРЕЄСТРАЦIЯ У ЗВ`ЯЗКУ ЗI ЗМIНОЮ АНКЕТНИХ ДАНИХ ВЛАСНИКА', 14875],
 ['340 - ПЕРЕРЕЄСТРАЦIЯ У ЗВ`ЯЗКУ ЗI ЗМIНОЮ АНКЕТНИХ ДАНИХ ВЛАСНИКА(БЕЗ ЗМІНИ РЕГІОНУ РЕЄСТРАЦІЇ)',
  164],
 ['341 - ПЕРЕРЕЄСТРАЦІЯ РАНІШЕ ВИКРАДЕНОГО ТЗ', 12],
 ["343 - ПЕРЕРЕЄСТРАЦІЯ У ЗВ'ЯЗКУ ІЗ ЗМІНОЮ ДАНИХ ВЛАСНИКА АБО ТЗ (ТЗ  ОТРИМАНО ЧЕРЕЗ ВІДДІЛ СОЦЗАХИСТУ)",
  98],
 ['350 - ПЕРЕРЕЄСТРАЦIЯ У ЗВ`ЯЗКУ ЗI ЗМIНОЮ НАЗВИ ОРГАНIЗАЦIЇ', 5601],
 ['360 - ПЕРЕРЕЄСТРАЦIЯ У ЗВ`ЯЗКУ ЗI ЗМIНОЮ МIСЦЯ СТОЯНКИ', 82],
 ['360 - ПЕРЕРЕЄСТРАЦІЯ ТЗ У ЗВ`ЯЗКУ ЗІ ЗМІНОЮ АНКЕТНИХ ДАНИХ ВЛАСНИКА (З ЗМІНОЮ РЕГІОНУ РЕЄСТРАЦІЇ)».',
  31],
 ['363 - ПЕРЕРЕЄСТРАЦIЯ ТЗ У ЗВ`ЯЗКУ З ПЕРЕДАЧЕЮ ДО СТАТУТНОГО ФОНДУ', 635],
 ['370 - ПЕРЕРЕЄСТРАЦIЯ У ЗВ`ЯЗКУ З ЗАМIНОЮ ДВИГУНА, БЕЗ ЗДІЙСНЕННЯ ПЕРЕОБЛАДНАННЯ ТЗ',
  403],
 ['380 - ПЕРЕРЕЄСТРАЦІЯ У ЗВ`ЯЗКУ З ЗАМІНОЮ КУЗОВА (ШАСІ), БЕЗ ЗДІЙСНЕННЯ ПЕРЕОБЛАДНАННЯ ТЗ',
  30],
 ['390 - ПЕРЕРЕЄСТРАЦIЯ У ЗВ`ЯЗКУ ЗI ЗМIНОЮ КОЛЬОРУ ТЗ', 2207],
 ['40 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ, ПРИДБАНОГО В ТОРГОВЕЛЬНІЙ ОРГАНІЗАЦІЇ', 31813],
 ['400 - ПЕРЕРЕЄСТРАЦIЯ ПРИ ПЕРЕОБЛАДНАННI БЕЗ ЗАМІНИ НОМЕРНИХ АГРЕГАТІВ', 3],
 ['400 - ПЕРЕРЕЄСТРАЦIЯ ПРИ ПЕРЕОБЛАДНАННI ДЛЯ РОБОТИ НА ГАЗОВОМУ ПАЛЬНОМУ',
  86143],
 ['401 - ПЕРЕРЕЄСТРАЦІЯ ТЗ ПРИ ПЕРЕОБЛ.І ІЗ ЗАМ.КУЗОВА(ШАСІ) ЗА ПОГОДЖЕННЯМ',
  401],
 ['402 - ПЕРЕРЕЄСТРАЦIЯ ТЗ ПРИ ПЕРЕОБЛI.(ЗАМІНА ТИПУ, ПОТУЖ. ДВИГ.)ЗА ПОГОДЖЕННЯМ',
  3757],
 ['402 - ПЕРЕРЕЄСТРАЦIЯ ТЗ ПРИ ПЕРЕОБЛАДНАННI, В ТОМУ ЧИСЛІ ЗАМІНА ТИПУ, ПОТУЖНОСТІ ДВИГУНА',
  1],
 ['403 - ПЕРЕРЕЄСТРАЦІЯ ПРИ ПЕРЕОБЛ.(ЗАМІНА КУЗОВА (ШАСІ)) ТА ДВИГУНА ЗА ПОГОДЖ.',
  1500],
 ['404 - ПЕРЕРЕЄСТРАЦІЯ ТЗ, В ЗВ’ЯЗКУ ІЗ НАНЕСЕННЯ ДУБЛЮВАННЯ №КУЗОВА', 238],
 ['404 - ПЕРЕРЕЄСТРАЦІЯ ТЗ, В ЗВ’ЯЗКУ ІЗ НАНЕСЕННЯ СПЕЦІАЛЬНИХ ІНДИВІДУАЛЬНИХ НОМЕРІВ АБО ДУБЛЮВАННЯ №КУЗОВА',
  597],
 ['405 - ПЕРЕРЕЄСТРАЦІЯ ТЗ, В ЗВ’ЯЗКУ ІЗ НАНЕСЕННЯ ДУБЛЮВАННЯ №ШАСІ (РАМИ)',
  208],
 ['405 - ПЕРЕРЕЄСТРАЦІЯ ТЗ, В ЗВ’ЯЗКУ ІЗ НАНЕСЕННЯ СПЕЦІАЛЬНИХ ІНДИВІДУАЛЬНИХ НОМЕРІВ АБО ДУБЛЮВАННЯ №ШАСІ (РАМИ)',
  497],
 ['407 - ПЕРЕРЕЄСТРАЦІЯ У ЗВ’ЯЗКУ З ВСТАНОВЛ. СССП АВТОЖОВТОГО КОЛЬОРУ НА ТЗ РЕАГУВАННЯ СОД',
  95],
 ['408 - ПЕРЕРЕЄСТРАЦІЯ ПРИ ПЕРЕОБЛАДНАННІ БЕЗ ЗАМІНИ НОМЕРНИХ АГРЕГАТІВ',
  12566],
 ['41 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ, ПРИДБАНОГО В ТОРГОВЕЛЬНІЙ ОРГАНІЗАЦІЇ В РОЗСТРОЧКУ',
  15],
 ['410 - ПЕРЕРЕЄСТРАЦІЯ ПРИ ЗАМІНІ НОМЕРНОГО ЗНАКУ', 14020],
 ['417 - ПЕРЕРЕЄСТРАЦІЯ ТЗ (МОПЕДІВ) З ВИДАЧОЮ СПР', 59],
 ['420 - ПЕРЕРЕЄСТРАЦІЯ ПРИ ВТРАТІ НОМЕРНОГО ЗНАКУ', 513],
 ["429 - ПЕРЕРЕЄСТРАЦІЯ ТЗ У ЗВ'ЯЗКУ ІЗ ПОДОВЖЕННЯМ ТЕРМІНУ ЗВОРОТНЬОГО ВИВОЗУ",
  277],
 ['430 - ПЕРЕРЕЄСТРАЦІЯ ПРИ ЗАМІНІ СВІДОЦТВА ПРО РЕЄСТРАЦІЮ', 12129],
 ['431 - ПЕРЕРЕЄСТРАЦІЯ ТЗ ПРИ ВИДАЧІ ІНДИВІДУАЛЬНОГО НОМЕРНОГО ЗНАКУ', 1007],
 ['440 - ПЕРЕРЕЄСТРАЦIЯ ПРИ ВТРАТІ СВIДОЦТВА ПРО РЕЄСТРАЦIЮ', 24689],
 ['470 - ВИДАЧА ДУБЛІКАТУ ТИМЧ.ТАЛ.ДЛЯ МОПЕДІВ ПІСЛЯ ВТРАТИ АБО ЗМІНИ АНКЕТНИХ ДАНИХ ВЛАСНИКА',
  2],
 ['48 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ ПО ДОГ. КУП.-ПРОД. УКЛАД. В ТСЦ (ПІСЛЯ 530 АБО 531)',
  34019],
 ['49 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ ПО ДОГОВОРУ УКЛАДЕНОМУ В ТСЦ', 126],
 ['50 - ВТОРИННА РЕЄСТРАЦIЯ ТЗ ЗА ДОГОВОРОМ КУПIВЛI-ПРОДАЖУ', 1712],
 ['50 - РЕЄСТРАЦIЯ ТЗ ЗА ДОГОВОРОМ КУПIВЛI-ПРОДАЖУ', 3],
 ["500 - ЗНЯТТЯ З ОБЛІКУ У ЗВ'ЯЗКУ ЗІ СКАСУВАННЯМ РЕЄСТРАЦІЇ", 196],
 ['501 - СКАСУВАННЯ ЗНЯТТЯ З ОБЛІКУ ТЗ', 17],
 ['502 -  СКАСУВАННЯ ПЕРЕРЕЄСТРАЦІЇ', 43],
 ['502 - СКАСУВАННЯ ПЕРЕРЕЄСТРАЦІЇ', 1],
 ['508 -  ПЕРЕРЕЄСТРАЦІЯ ТЗ, В ЗВ’ЯЗКУ ІЗ РОЗІРВАННЯМ НОТАРІАЛЬНО ПОСВІДЧЕНОГО ДКП ЗА ЗГОДОЮ СТОРІН',
  1],
 ['51 - РЕЄСТРАЦIЯ ТЗ ЗА ДОГОВОРОМ МІНИ', 1],
 ['520 - ЗНЯТТЯ З ОБЛIКУ ПРИ ВИЇЗДІ ЗА КОРДОН НА ПОСТ. МІСЦЕ ПРОЖИВ.', 46],
 ['530 - ЗНЯТТЯ З ОБЛIКУ ДЛЯ РЕАЛIЗАЦIЇ', 69081],
 ['534 - ЗНЯТТЯ З ОБЛІКУ ЗА АКТОМ ПРИЙОМА-ПЕРЕДАЧІ', 205],
 ['535 - ЗНЯТТЯ З ОБЛІКУ ЗА ДОГОВОРОМ ФІНАНСОВОГО ЛІЗИНГУ', 3944],
 ['54 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА ЗА ІНШИМ ДОГОВОРОМ, УГОДОЮ (КОНТРАКТОМ)',
  59],
 ['540 - ЗНЯТТЯ З ОБЛIКУ У ЗВ`ЯЗКУ З ВИБРАКОВКОЮ', 9098],
 ['550 - ЗНЯТТЯ З ОБЛIКУ ТЗ ВВЕЗЕНОГО ПIД ЗОБОВ. ПРО ЗВОР. ВИВЕЗЕННЯ', 566],
 ['560 -  ЗНЯТТЯ З ОБЛІКУ ПРИ ПОВЕРНЕННІ ІЗ ПОЇЗДКИ ЗА КОРДОН ПО ДОРУЧ.',
  7503],
 ['570 - ЗНЯТТЯ З ОБЛІКУ У ЗВ`ЯЗКУ ЗI ЗМIНОЮ ДЕРЖАВНОГО ОРГАНУ РЕЄСТРАЦІЇ',
  67],
 ['580 - ЗНЯТТЯ З ОБЛІКУ ТЗ ДЛЯ ПОВЕРНЕННЯ ОРГАНАМ СОЦ. ЗАХИСТУ', 3],
 ['60 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ ЗА ДОГОВОРОМ ДАРУВАННЯ (ОФОРМЛЕНО НОТАРІАЛЬНО)',
  2],
 ['60 - РЕЄСТРАЦIЯ ТЗ ЗА ДОГОВОРОМ ДАРУВАННЯ', 24],
 ['61 - РЕЄСТРАЦIЯ ТЗ ПО УСПАДКУВАННЮ ЗА ЗАПОВIТОМ', 20],
 ['62 - РЕЄСТРАЦIЯ ТЗ ПО УСПАДКУВАННЮ ЗА ЗАКОНОМ', 177],
 ['63 - РЕЄСТРАЦIЯ ТЗ У ЗВ`ЯЗКУ З ПЕРЕДАЧЕЮ ДО СТАТУТНОГО ФОНДУ', 34],
 ['64 - РЕЄСТРАЦІЯ КОНФІСКОВАНОГО ТЗ', 29],
 ['65 - РЕЄСТРАЦIЯ ТЗ ЗА РІШЕННЯМ СУДУ', 64],
 ['69 - РЕЄСТРАЦІЯ НОВИХ ТЗ ПО АКТУ ПРИЙОМУ-ПЕРЕДАЧІ (ДОД. 6)', 232],
 ['69 - РЕЄСТРАЦІЯ ТЗ ПО АКТУ ПРИЙОМУ-ПЕРЕДАЧІ', 16214],
 ['69 - РЕЄСТРАЦІЯ ТЗ ПО АКТУ ПРИЙОМУ-ПЕРЕДАЧІ (ДОД. 6)', 80],
 ['70 - РЕЄСТРАЦIЯ ТЗ ПРИВЕЗЕНОГО З-ЗА КОРДОНУ', 3],
 ['70 - РЕЄСТРАЦIЯ ТЗ ПРИВЕЗЕНОГО З-ЗА КОРДОНУ ПО ВМД', 6432],
 ['71 - РЕЄСТРАЦІЯ ТЗ ПРИВЕЗЕНОГО З-ЗА КОРДОНУ ПО ПОСВІДЧЕННЮ МИТНИЦІ', 4287],
 ['80 - РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО НА АУКЦІОНІ ТОВАР. БIРЖI', 31],
 ['80 - РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО НА АУКЦІОНІ ТОВАР. БІРЖІ', 62],
 ['90 - РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО З ФОНДІВ МІН. ОБОРОНИ', 73],
 ['99 - ПЕРВИННА РЕЄСТРАЦІЯ ТЗ ПРИДБАНОГО В ТОРГІВЕЛЬНІЙ ОРГАНІЗАЦІЇ, ЯКИЙ ВИГОТОВЛЕНО В УКРАЇНІ',
  11860]]

In [66]:
ops_count_df = pd.DataFrame(ops_count, columns=["op","count"])

In [67]:
ops_count_df.head()

                                                  op  count
0  10 - РЕЄСТРАЦIЯ ТЗ ПО АКТУ ПРИЙМАННЯ ПЕРЕДАЧІ(...      2
1  100 - ПЕРВИННА РЕЄСТРАЦIЯ Б/В ТЗ ПРИДБАНОГО В ...    979
2  100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...      4
3  100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...  92485
4           101 - РЕЄСТРАЦIЯ ТЗ ЗА ДОГОВОРОМ ЛІЗИНГУ   3871

In [91]:
# sort agreements by popularity
ops_count_df_sorted = ops_count_df.sort_values('count', ascending=False)
ops_count_df_sorted.head()

                                                   op   count
40  315 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГО...  261111
34  308 - ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ...  145530
3   100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...   92485
66  400 - ПЕРЕРЕЄСТРАЦIЯ ПРИ ПЕРЕОБЛАДНАННI ДЛЯ РО...   86143
97               530 - ЗНЯТТЯ З ОБЛIКУ ДЛЯ РЕАЛIЗАЦIЇ   69081